.dashboard {
    margin-top: 30px;
}

.dashboard .form-section p {
    margin-bottom: 15px;
}

.dashboard .form-section p:last-child {
    margin-bottom: 0;
}

.dashboard .form-section strong {
    color: rgb(0, 51, 102);
}

@media (max-width: 700px) {

    .dashboard {
        margin: 20px 15px;
    }

}